<div class="container">
    <form role="form">
        <div class="card">
            <div class="card-header bg-success text-white">View Task</div>
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="task">Task</label>
                        <input type="text" [(ngModel)]="taskFilter.Task" name="task" class="form-control" id="task">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="parenttask">Parent Task</label>
                        <input type="text" [(ngModel)]="taskFilter.ParentTask" name="parenttask" class="form-control" id="parenttask">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group  col-md-3">
                        <label for="priorityfrom">Priority From</label>
                        <input type="number" [(ngModel)]="taskFilter.PriorityFrom" name="PriorityFrom" class="form-control" id="priorityfrom">
                    </div>
                    <div class="form-group  col-md-3">
                        <label for="priorityto">Priority To</label>
                        <input type="number" [(ngModel)]="taskFilter.PriorityTo" name="PriorityTo" class="form-control" id="priorityto">
                    </div>
                    <div class="form-group  col-md-3">
                        <label for="startdate">Start Date</label>
                        <input type="text" [(ngModel)]="taskFilter.StartDate" [(bsValue)]="taskFilter.StartDate" value="{{taskFilter.StartDate | date:'dd/MM/yyyy'}}"
                            bsDatepicker placement="right" name="StartDate" class="form-control" id="startdate">
                    </div>
                    <div class="form-group  col-md-3">
                        <label for="enddate">End Date</label>
                        <input type="text" [(ngModel)]="taskFilter.EndDate" [(bsValue)]="taskFilter.EndDate" value="{{taskFilter.EndDate | date:'dd/MM/yyyy'}}"
                            bsDatepicker placement="right" name="EndDate" class="form-control" id="EndDate">
                        <!-- <input type="date" [(ngModel)]="taskFilter.EndDate" name="EndDate" class="form-control" id="enddate"> -->
                    </div>
                </div>
                <hr>
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Parent Task</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let task of taskDetails | viewtaskfilter: {Task:taskFilter.Task,ParentTask:taskFilter.ParentTask,PriorityFrom:taskFilter.PriorityFrom,PriorityTo:taskFilter.PriorityTo,StartDate:taskFilter.StartDate,EndDate:taskFilter.EndDate}">
                        <tr>
                            <td>{{task.Task}}</td>
                            <td>{{task.ParentTask}}</td>
                            <td>{{task.Priority}}</td>
                            <td>{{task.StartDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{task.EndDate | date:'dd/MM/yyyy'}}</td>
                            <td>
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group mr-2" role="group">
                                       <input type="button" [disabled]="!task.EditFlag" (click)="UpdateTask(task.TaskId)" class="btn btn-info" value="Edit Task">
                                    </div>
                                    <div class="btn-group" role="group">
                                        <input type="button" *ngIf="task.EditFlag" (click)="UpdateEditFlag(task.TaskId)" class="btn btn-info" value="End Task">
                                        <router-outlet></router-outlet>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>