<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand">
    <a class="navbar-brand text-dark" routerLink="viewtask" ><b>Task Manager</b></a>
    <ul class="nav nav-bar navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link"  routerLink="addtask"><b>Add Task</b></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="viewtask"><b>View Task</b></a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
