 <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert> 
<div class="container-fluid mt-3">
   <div class="form-row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <form #addUserForm="ngForm" novalidate class="form-horizontal" role="form">
        <div class="card">
          <div class="card-header bg-success text-white">Add User</div>
          <div class="card-body">
            <div class="form-group">
              <label for="task" class="col-sm-5 control-label">First Name</label>
              <div class="col-sm-9">
                <input type="text" required [(ngModel)]="user.First_Name" name="FirstName" #firstnamecontrol="ngModel"
                  class="form-control" [class.is-invalid]="firstnamecontrol.invalid && firstnamecontrol.touched"
                  [class.is-valid]="firstnamecontrol.valid">
                <span class="invalid-tooltip" *ngIf="firstnamecontrol.invalid && firstnamecontrol.touched">First Name
                  is required</span>
              </div>
            </div>
            <div class="form-group">
              <label for="task" class="col-sm-5 control-label">Last Name</label>
              <div class="col-sm-9">
                <input type="text" required [(ngModel)]="user.Last_Name" name="LastName" #lastnamecontrol="ngModel"
                  class="form-control" [class.is-invalid]="lastnamecontrol.invalid && lastnamecontrol.touched"
                  [class.is-valid]="lastnamecontrol.valid">
                <span class="invalid-tooltip" *ngIf="lastnamecontrol.invalid && lastnamecontrol.touched">Last Name is
                  required</span>
              </div>
            </div>
            <div class="form-check">
              <div class="col-sm-9">
                <input type="checkbox" [(ngModel)]="user.Manager_Flag" name="ManagerFlag" class="form-check-input">
                <label class="form-check-label">Manager</label>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <!-- /.form-group -->
            <div class="form-group">
              <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" (click)="Add(addUserForm)" [disabled]="addUserForm.invalid" class="btn btn-info">{{UpdateFlag == false ? 'Add': 'Update'}}</button>
                <button type="reset" id="reset" class="btn btn-info ml-1">Reset</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="card">
        <div class="card-header bg-success text-white">Project Details</div>
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">First Name</label>
              <input type="text" [(ngModel)]="userFilter.FirstName" name="firstname" class="form-control" id="firstname">
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Last Name</label>
              <input type="text" [(ngModel)]="userFilter.LastName" name="lastname" class="form-control" id="lastname">
            </div>
          </div>
          <hr>
          <table class="table table-bordered table-stripped"  [mfData]="userDetails" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead class="bg-success text-white">
            <tr>
              <th scope="col"><mfDefaultSorter by="FirstName">First Name</mfDefaultSorter></th>
              <th scope="col"><mfDefaultSorter by="LastName">Last Name</mfDefaultSorter></th>
              <th scope="col"><mfDefaultSorter by="Manager">Manager</mfDefaultSorter></th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let user of mf.data | userfilter : {FirstName:userFilter.FirstName, LastName:userFilter.LastName }">
            <tr>
              <td>{{user.FirstName}}</td>
              <td>{{user.LastName}}</td>
              <td>{{user.Manager}}</td>
              <td>
                <div class=" btn-toolbar" role="toolbar">
                  <div class="btn-group" role="group">
                    <input type="button" (click)="Edit(user.UserId)" class="btn btn-info" value="Edit">
                  </div>
                  <div class="btn-group ml-2" role="group">
                    <input type="button" (click)="ModelPopup(content, user.UserId)" class="btn btn-info" value="Delete">
                  </div>
                </div>
              </td>
            </tr>
  
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="4">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>
              </tr>
              </tfoot>
        </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /form -->
</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure do you want delete this user?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" (click)="Delete()">Delete</button>
      <button type="button" class="btn btn-info" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>