<div class="container">
    <form #addUserForm="ngForm" novalidate class="form-horizontal"  role="form">
    <div class="card">
      <div class="card-header bg-success text-white">Add User</div>
      <div class="card-body">
        <div class="form-group">
          <label for="task" class="col-sm-3 control-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" required [(ngModel)]="user.First_Name" name="FirstName" #firstnamecontrol="ngModel" class="form-control"
            [class.is-invalid]="firstnamecontrol.invalid && firstnamecontrol.touched" [class.is-valid]="firstnamecontrol.valid" >
            <span class="invalid-tooltip" *ngIf="firstnamecontrol.invalid && firstnamecontrol.touched">First Name is required</span>
          </div>
        </div>
        <div class="form-group">
            <label for="task" class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" required [(ngModel)]="user.Last_Name" name="LastName" #lastnamecontrol="ngModel" class="form-control"
              [class.is-invalid]="lastnamecontrol.invalid && lastnamecontrol.touched" [class.is-valid]="lastnamecontrol.valid" >
              <span class="invalid-tooltip" *ngIf="lastnamecontrol.invalid && lastnamecontrol.touched">Last Name is required</span>
            </div>
          </div>
          <div class="form-check">
              <div class="col-sm-9">
                <input type="checkbox" [(ngModel)]="user.Manager_Flag" name="ManagerFlag" class="form-check-input" >
                <label class="form-check-label">Manager</label>
              </div>
            </div>
      </div>
      <div class="card-footer">
        <!-- /.form-group -->
        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
            <button type="submit" (click)="AddUser(addUserForm)" [disabled]="addUserForm.invalid" class="btn btn-info">Add User</button>
            <button type="reset" id="reset" class="btn btn-info ml-1">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- /form -->
</div>